<% provide(:title, 'Help') %>
<h1>Help</h1>
  <p>
      Mozesz uzyskac pomoc z Ruby'ego na stronie:
      <a href="http://railstutorial.org/help">Rails Tutorial Help page</a>
      Aby uzyskac pomoc odnosnie tej aplikacji nalezy odwiedzic:
      <a href="http://railstutorial.org/book">rails Tutorial book</a>
  </p>
